
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["User_ID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}



<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#"></a>
                <div id="close-sidebar">
                    <i class="fa fa-times"></i>
                </div>
                <div>
                    <div class="input-group">
                        @*<img src="~/Content/pics/Black and Turquoise Automotive Logo.png"  />*@
                    </div>
                </div>
            </div>


            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>เมนู</span>
                    </li>

                    <li>
                        <a href="@Url.Action("Home", "Event")">
                            <i class="fa fa-folder"></i>
                            <span>ข้อมูลทั่วไป</span>

                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DashBoard", "Dashboard")">
                            <i class="fa fa-bar-chart"></i>
                            <span>การควบคุมข้อมูล</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("EnterEvent", "Outer")">
                            <i class="fa fa-search"></i>
                            <span>เข้าสู่การสำรวจ</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">

            </a>
            <a href="#">

            </a>
            <a data-toggle="modal" data-target="#SettingUserModal">
                <i class="fa fa-cog"></i>

            </a>
            <a onclick="location.href='@Url.Action("Logout", "Home")';return false;">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <h2 style="text-align:center">การควบคุม วิเคราะห์ข้อมูล</h2>
            <hr>
            <div class="container">


                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="orange">
                                        <i class=" fa fa-folder-open"></i>
                                    </div>

                                    <div class="card-content">
                                        <p class="category">Event</p>
                                        <h3 class="title">@ViewBag.eventlistCount</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            Total Event that created.

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="green">
                                        <i class=" fa fa-file"></i>
                                    </div>
                                    <div class="card-content">
                                        <p class="category">Poll</p>
                                        <h3 class="title">@ViewBag.PollCount</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            Total Poll that created.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-header" data-background-color="blue">
                                        <i class=" fa fa-users"></i>
                                    </div>
                                    <div class="card-content">
                                        <p class="category">Survey</p>
                                        <h3 class="title">@ViewBag.ConutOuter </h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                            Updated 24 Hours.
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="table-responsive dashboard-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Survey</th>
                                <th>Event</th>
                                <th>Poll</th>
                                <th>Poll Type</th>
                                <th>Result</th>


                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var ana in ViewBag.AnalysisData)
                            {

                                <tr>
                                    <td>@ana.Outer.Outer_Name</td>
                                    <td>@ana.Event.Event_Name</td>
                                    <td>@ana.Polls.Polls_Name</td>
                                    <td>@ana.Polls_Type.Polls_Type_Name</td>
                                    @if (@ana.Outer.Outer_Text != null)
                                    {
                                        <td>@ana.Outer.Outer_Text</td>
                                    }
                                    else
                                    {
                                        <td>@ana.Outer.Outer_Rating</td>
                                    }
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="modal" id="SettingUserModal" tabindex="-1" role="dialog" aria-labelledby="SettingUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#ffd800">
                <h5 class="modal-title" id="SettingUserModalLabel" style="color:white">การตั้งค่า</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" autocomplete="off">
                <div id="InputUser"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close2" data-dismiss="modal" hidden>Close</button>

                <button type="button" class="btn btn-secondary" style="width:100px" onclick="UpdateUser()">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>

<!-- page-content" -->
<!-- page-wrapper -->
@section scripts{
    <link href="~/Style_Sheets/Sitebar.css" rel="stylesheet" />
    <link href="~/Style_Sheets/DashBox.css" rel="stylesheet" />
    <script>
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });

         $(document).ready(function () {
            $('#SettingUserModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
               // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("_SettingUser","Event")',
                    dataType: "html",

                    success: function (data) {

                        modal.find('.modal-body').html(data);

                    }

                });
            });
        });
    </script>

    <script>
        function UpdateUser() {
             var FirstName = $("#FirstName").val();
            if (FirstName == "") {
                FirstName = $("#SubFirstName").val();
            }
           var LastName = $("#LastName").val();
            if (LastName == "") {
                LastName = $("#SubLastName").val();
            }
          var ID = $("#User_ID").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateUser","Event")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ User_ID: ID,FirstName:FirstName, LastName:LastName}),
                success: function () {

                     location.reload();
                },
                error: function () {
                    console.log("Error Again.")
                }
            })
        }

    </script>

}